<form name="phones" [formGroup]="phonesForm">
  <div formArrayName="phones">
    <ng-container *ngFor="let phone of phones.controls; index as i">
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput name="phones-{{ i }}" type="text" [formControlName]="i">
      </mat-form-field>
      <button mat-button color="warn" (click)="deletePhoneAtRow(i)">Eliminar</button>
      <app-form-error-container [forControl]="phone">
        <app-form-error-msg forErrorCode="required"></app-form-error-msg>
      </app-form-error-container>
    </ng-container>
    <button mat-button color="primary" (click)="addPhoneRow()">+ Añadir Número</button>
  </div>
</form>
