<form name="passwordChange" [formGroup]="passwordChangeForm">
  <mat-form-field appearance="fill">
    <mat-label>Nueva Contraseña</mat-label>
    <input matInput type="password" formControlName="newPassword">
  </mat-form-field>
  <app-form-error-container
    [forControl]="passwordChangeForm.get('newPassword')">
    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
  </app-form-error-container>
  <mat-form-field appearance="fill">
    <mat-label>Repetir Nueva Contraseña</mat-label>
    <input matInput type="password" formControlName="passwordConfirm">
  </mat-form-field>
  <app-form-error-container
    [forControl]="passwordChangeForm.get('passwordConfirm')">
    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
  </app-form-error-container>
  <app-form-error-container [forControl]="passwordChangeForm">
    <app-form-error-msg
      forErrorCode="passwordsMustBeEqual">
    </app-form-error-msg>
  </app-form-error-container>
</form>
