<div class="container">
  <mat-card
    class="card"
    *ngFor="let project of projects$ | async; let index = index">
    <mat-card-subtitle># {{ index + 1 }}</mat-card-subtitle>
    <mat-card-title>{{ project.title }}</mat-card-title>
    <mat-card-content>
      <p>{{ project.description }}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="project.link">
        GO
      </button>
    </mat-card-actions>
  </mat-card>
</div>
