<form name="change-username">
  <mat-form-field appearance="fill">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput type="text" [formControl]="newUsernameControl">
    <mat-hint
      *ngIf="(newUsernameControl.statusChanges | async) === 'PENDING'">
        Comprobando...
    </mat-hint>
  </mat-form-field>
  <app-form-error-container [forControl]="newUsernameControl">
    <app-form-error-msg
      forErrorCode="checkUsernameIsAvailable">
    </app-form-error-msg>
  </app-form-error-container>
</form>
